<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="with=device-width, initial-scale=1.0">
            <title>Valorant Esports Portal</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/all.min.css">
    </head>
    <body>
        <section class="header">
            <nav>
                <a href="{{ url_for('index') }}"><img src="{{url_for('static', filename='images/Valorant_logo.svg') }}"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="{{ url_for('index') }}">HOME</a></li>
                        <li><a href="{{ url_for('teams') }}">TEAMS</a></li>
                        <li><a href="{{ url_for('matches') }}">MATCHES</a></li>
                        <li><a href="{{ url_for('standings') }}">STANDINGS</a></li>
                        <li><a href="{{ url_for('players') }}">PLAYERS</a></li>
                        <li><a href="{{ url_for('admin') }}">DATA MANAGEMENT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>

            <div class="text-box">
                <h1>VCT: News, Matches, and Analysis</h1>
                <p>One of the most fun, engaging, and competitive esport scenes in the world.
                </p>
                 <!----- Player Search Bar ----->
                <div class="search-box">
                    <input type="text" id="player_input" placeholder="Search Player IGN...">
                    <div class="search-icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="cancel-icon">
                        <i class="fas fa-times"></i>
                    </div>
                    <ul id="suggestions" class="suggestions-list"></ul>
            
            </div>
        </section>

    <!----- Upcoming Matches ----->

        <section class="matches">
            <h1>Upcoming Matches</h1>
            <p>Explore upcoming matches across the globe.</p>
            <div class="region-filters">
                <button class="filter-btn active" data-region="ALL">ALL MATCHES</button>
                <button class="filter-btn" data-region="NA">NORTH AMERICA</button>
                <button class="filter-btn" data-region="EU">EMEA</button>
                <button class="filter-btn" data-region="PA">PACIFIC</button>
                <button class="filter-btn" data-region="CH">CHINA</button>
            </div>
            <div class="row">
                <div class="match-col match1">
                    <h3>Team vs team</h3>
                    <p>Date: Time:</p>
                </div>
                <div class="match-col match2">
                    <h3>Team vs team</h3>
                    <p>Date: Time:</p>
                </div>
                <div class="match-col match3">
                    <h3>Team vs team</h3>
                    <p>Date: Time:</p>
                </div>
            </div>
        </section>
    
    <!----- Agent Tier List Page ----->
        <section class="agent-tier-list">
            <h1>Agent Tier List</h1>
            <p>Agents ranked by average KD and average ACS across all players.</p>
            <div class="region-filters">
                <button class="filter-btn active" data-region="ALL">ALL</button>
                <button class="filter-btn" data-region="NA">Americas</button>
                <button class="filter-btn" data-region="EU">EMEA</button>
                <button class="filter-btn" data-region="PA">Pacific</button>
                <button class="filter-btn" data-region="CH">China</button>
            </div>
            <div class="agent-tier-list-container">
                <div id="agent-stats"></div>
            </div>
        </section>

    <!----- Standings Page ----->
        <section class="standings">
            <h1>2025 Regular Season Standings</h1>
            <div class="region-filters">
                <button class="filter-btn active" data-region="ALL">ALL MATCHES</button>
                <button class="filter-btn" data-region="NA">NORTH AMERICA</button>
                <button class="filter-btn" data-region="EU">EMEA</button>
                <button class="filter-btn" data-region="PA">PACIFIC</button>
                <button class="filter-btn" data-region="CH">CHINA</button>
            </div>

            <div class="leaderboard">
                <div class="secondPlace">

                </div>
                <div class="firstPlace">

                </div>
                <div class="thirdPlace">

                </div>
            </div>


        </section>

    <!----- Java Script for Toggle Menu ----->
        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu(){
                navLinks.style.right = "-50px";
            }
            function hideMenu(){
                navLinks.style.right = "-200px";
            }

        </script>
    <!----- Java Script for Player Search ----->
        <script>
            const searchBox = document.querySelector(".search-box");
            const searchButton = document.querySelector(".search-icon");
            const cancelButton = document.querySelector(".cancel-icon");
            const searchInput = document.getElementById("player_input");
            const suggestions = document.getElementById("suggestions");
            const playerStatsDiv = document.getElementById("player-stats");

            searchButton.onclick =()=>{
                searchBox.classList.add("active");
                searchButton.classList.add("active");
                searchInput.classList.add("active");
                cancelButton.classList.add("active");
                searchInput.focus();

                if (searchInput.value != "") {
                    searchData.classList.remove("active");
                    fetchPlayerStats(searchInput.value);
                    suggestions.innerHTML = "";
                }
            }
            cancelButton.onclick =()=> {
                searchBox.classList.remove("active");
                searchButton.classList.remove("active");
                searchInput.classList.remove("active");
                cancelButton.classList.remove("active");
                suggestions.classList.remove("active");
                searchInput.value = "";
            }

            // Function to fetch all players for autocomplete
            async function fetchPlayers() {
                try {
                    const res = await fetch(`http://localhost:3000/players`);
                    if (!res.ok) throw new Error("Failed to fetch players.");
                    const data = await res.json();
                    return data.map(p => p.player_name);
                } catch (err) {
                    console.error(err);
                    return [];
                }
            }

            // Filter and show suggestions
            async function showSuggestions() {
                // Fetch player list
                const allPlayers = await fetchPlayers();

                // Set query for player
                const query = searchInput.value.toLowerCase();
                suggestions.innerHTML = "";
                
                // If empty query, remove active status and return
                if (!query) {
                    suggestions.classList.remove("active");
                    return;
                }
                
                // Find top 5 players that match the input string
                const matches = allPlayers.filter(name => name.toLowerCase().includes(query)).slice(0, 5)

                
                matches.forEach(name => {
                    const li = document.createElement("li");
                    li.textContent = name;
                    li.classList.add("suggestion-item");
                    li.addEventListener("click", () => {
                        window.location.href = `/players/${encodeURIComponent(name)}`;
                        // searchInput.value = name;
                        // suggestions.innerHTML = "";
                        // suggestions.classList.remove("active");
                        // fetchPlayerStats(name);
                    });
                    suggestions.appendChild(li);
                });

                if (matches.length > 0) {
                    suggestions.classList.add("active");
                } else {
                    suggestions.classList.remove("active");
                }
            }

            searchInput.addEventListener("input", showSuggestions); // Trigger suggestions as user types
             
        </script>
    <!----- Java Script for Region Filters and Agents Tier List ----->
        <script>
            const matchesContainer = document.querySelector('.matches .region-filters');
            const matchesFilterButtons = matchesContainer.querySelectorAll('.filter-btn');
            const standingsContainer = document.querySelector('.standings .region-filters');
            const standingsFilterButtons = standingsContainer.querySelectorAll('.filter-btn');
            const agentContainer = document.querySelector('.agent-tier-list .region-filters');
            const agentFilterButtons = agentContainer.querySelectorAll('.filter-btn');
            

            // Function to handle toggling logic
            function toggleFilter(buttons, clickedButton) {
                buttons.forEach(btn => btn.classList.remove('active'));

                clickedButton.classList.add('active');
            }

            // Function to get currently active region filter
            function getRegion() {
                const activeButton = agentContainer.querySelector('.filter-btn.active');
                return activeButton.textContent;
            }

            // Attach listeners to matches buttons
            matchesFilterButtons.forEach(button => {
                button.addEventListener('click', () => {
                    toggleFilter(matchesFilterButtons, button);
                });
            });

            // Attach listeners to standings buttons
            standingsFilterButtons.forEach(button => {
                button.addEventListener('click', () => {
                    toggleFilter(standingsFilterButtons, button);
                });
            });

            // Fetch Agent Tier List and dynamically load table
            async function fetchAgentsTable(regionName) {
                try {
                    const url = `http://localhost:3000/agents/tierlist?regionName=${regionName}`
                    const res = await fetch(url);
                    if (!res.ok) throw new Error("Could not load table.");
                    const data = await res.json();
                    const agent = data.Agent;
                    const kd = data.Average_KD;
                    const acs = data.Average_ACS;
                    const rounds = data.Total_Rounds;
                    const rank = data.Rank;

                    const agentsDiv = document.getElementById("agent-stats")

                    // Display stats
                    let htmlContent = `<h2>Ranking</h2>`;
                    
                        if (data && data.length > 0) {
                            // Get unique column headers
                            const headers = Object.keys(data[0])

                            // Build table HTML
                            htmlContent += '<div class="agents-table-wrapper">';
                            htmlContent += '<table>'
                            
                            // Table header
                            htmlContent += '<thead><tr>';
                            headers.forEach(header => {
                                // Clean up headers
                                const displayHeader = header.split('_').map(word => word.charAt().toUpperCase() + word.slice(1)).join(' ');
                                htmlContent += `<th>${displayHeader}</th>`;
                            });
                            htmlContent += '</tr></thead>';

                            // Table Body
                            htmlContent += '<tbody>';
                            data.forEach(dataRow => {
                                htmlContent += '<tr>';
                                // Loop through columns for each row
                                headers.forEach(header => {
                                    // Output data content for each cell
                                    htmlContent += `<td>${dataRow[header]}</td>`;
                                });
                                htmlContent += '</tr>';
                            });
                            // Close final wrappers
                            htmlContent += '</tbody>';
                            htmlContent += '</table>';
                            htmlContent += '</div>';
                        }
                    else {
                        console.error("Error. Could not load data");
                    }
                    agentsDiv.innerHTML = htmlContent;

                } catch (err) {
                    console.error(err);
                    const agentsDiv = document.getElementById("agent-stats")
                    if (agentsDiv) {
                        agentsDiv.innerHTML = `<p style="color:red;">${err.message}</p>`;
                    }
                }
            }

            // Attach listeners to agent region buttons
            agentFilterButtons.forEach(button => {
                button.addEventListener('click', () => {
                    toggleFilter(agentFilterButtons, button);
                    const selectedRegion = button.textContent;
                    fetchAgentsTable(selectedRegion);
                });
            });
            
            // Load table for the initial load of page.
            const initialRegion = getRegion();
            fetchAgentsTable(initialRegion)
        </script>
    </body>
</html>