* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(131, 39, 80, 0.14), rgba(30, 4, 14, 0.7)), url(images/som_image_2.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.805);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    z-index: 10;
}
nav img{
    width: 150px;
    height: 45px;
    display: block;
    margin: 0;
    padding: 0;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/*-------- Player Search Bar --------*/
::selection{
  color: #fff;
  background: #f44336;
}
.search-box{
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 0 auto;
}
.search-box.active{
  width: 350px;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active{
  opacity: 1;
}
.search-box input::placeholder{
  color: #a6a6a6;
}
.search-box .search-icon{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #f44336;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active{
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: #f44336;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active{
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}

/* --- Player Suggestions List --- */
.suggestions-list {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;

    border-radius: 0 0 30px 30px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

    max-height: 0;
    overflow: hidden;
    z-index: 5;
    
    transition: max-height 0.3s ease-in-out; 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
}

.suggestions-list.active {
    max-height: 250px;
    padding-bottom: 5px;
}

.suggestion-item {
    padding: 8px 15px;
    background: #ffffff;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px; 
    transition: background 0.2s, color 0.2s; 
}

.suggestion-item:hover {
    background: #f44336;
    color: #fff;
}

nav .fa{
    display: none;
}

/*-------- Mobile Tailoring --------*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        margin: 10px 0px 40px;
        font-size: 10px;
        color: #fff;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-------- Matches --------*/
.matches{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.matches h1{
    font-size: 36px;
    font-weight: 600;
}
.matches p{
    color: #777;    
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
}
.match-col{
    flex-basis: 90%;
    max-width: 1400px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(images/cropped_heart_photo.png);
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: left;
}
.match1{
    background-position: 0% 10%;
}
.match2{
    background-position: 50% 32%;
}
.match3{
    background-position: 66% 100%;
}
.match-col:hover{
    transform: translateY(-5px);
}
.match-col h3{
    margin-bottom: 10px;
    font-weight: 700;
    color:#f44336;
}
.match-col p{
    color:#ddd;
    padding: 0;
}
.region-filters{
    margin: 30px 0;
    text-align: center;
}
.filter-btn{
    background: transparent;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

}
.filter-btn:hover{
    color:#fff;
    border-color: #f44336;
}
.filter-btn.active{
    background-color: #f44336;
    color: #000;
    border-color: #f44336;
    font-weight: 600;
}

/* TODO: Fix text inside match cards*/
@media(max-width: 700px){
    .row{
        gap: 0px;
    }
    .match-col{
        max-width: 150px;
        max-height: 50px;
        flex-basis: 100%;
        background-size: 200% auto;
        background-position: center center;
    }
    .matches-h1{
        font-size: 20px;
    }
    .match-col p{
        font-size: 10px;
    }
    .match1{
    background-position: 0% 10% !important;
    }
    .match2{
        background-position: 50% 32% !important;
    }
    .match3{
        background-position: 100% 100% !important;
    }
    
}

/*-------- Standings --------*/
.standings{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.standings{
    font-size: 36px;
    font-weight: 600;
}
.standings p{
    color: #777;    
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.leaderboard {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    gap: 30px;
}
.firstPlace {
    flex-basis: 90%;
    max-width: 300px;
    height: 400px !important;
    background: gold;
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: left;
}
.secondPlace {
    flex-basis: 90%;
    max-width: 300px;
    height: 300px !important;
    background: silver;
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    text-align: left;
}
.thirdPlace {
    flex-basis: 90%;
    max-width: 300px;
    height: 200px !important;
    background: rgb(187, 122, 69);
    border-radius: 12px;
    padding: 25px 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
}

/* ------ Standings Page ------*/
.standings-page {
    background-color: #c4c4c4
}
.menu nav {
    background-color: rgb(49, 49, 49);
}
.content-container {
    background-color:#F8F8F8;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
    margin: 40px auto;
}
.region-menu-filters{
    justify-content: space-between;
    margin: 10px 0;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #c4c4c4;
}
.region .filter-btn{
    background: transparent;
    background-color: #808080;
    color: #000;
    border-color: #f44336;
    font-weight: 600;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

}
.region .filter-btn:hover{
    color:#fff;
    border-color: #f44336;
}
.region .filter-btn.active{
    background-color: #f44336;
    color: #000;
    border-color: #f44336;
    font-weight: 600;
}

/* ------ Players Page ------*/
.player-stats-page .text-box{
    width: 90%;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.player-stats-page .text-box h1{
    font-size: 62px;
}
.player-stats-page .text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #000;
}

/*-------- Player Menu Bar --------*/
.nav-links ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    overflow: visible;
}

.nav-links ul li.search-bar-item {
    padding: 0 12px;
}

/*-------- Player Search Bar --------*/
.player-stats-page .search-box {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.player-stats-page .search-box.active {
    width: 250px;
    height: 25px;
}

.player-stats-page .search-box input {
    padding: 0 50px 0 15px;
    font-size: 14px;
}

.player-stats-page .search-box .search-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #f44336;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.player-stats-page .search-box .search-icon.active {
    right: 0px;
    height: 25px;
    line-height: 25px;
    width: 25px;
    font-size: 14px;
    background: #f44336;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
}

.player-stats-page .search-box .cancel-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #f44336;
    color: #fff;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.player-stats-page .search-box .cancel-icon.active {
    left: 260px;
    color: #fff;
    transform: translateY(-50%);
}

/* --- Player Suggestions List --- */
.player-stats-page .suggestions-list {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;

    border-radius: 0 0 30px 30px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

    max-height: 0;
    overflow: hidden;
    z-index: 5;
    
    transition: max-height 0.3s ease-in-out; 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
}

.player-stats-page .suggestions-list.active {
    max-height: 250px; 
    padding-bottom: 5px;
}

.player-stats-page .suggestion-item {
    padding: 8px 15px;
    background: #ffffff;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px; 
    transition: background 0.2s, color 0.2s;
}

.player-stats-page .suggestion-item:hover {
    background: #f44336;
    color: #fff;
}

/* Stats Table */
.player-stats-container {
    font-size: 8px;
    padding: 100px;
    margin: auto;
    max-width: 1400px;
    text-align: center;
}

#player-stats h2 {
    margin-bottom: 20px;
    color: #f44336; 
}

.stats-table-wrapper {
    overflow-x: auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Main Table */
#player-stats table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
    background-color: #202020;
    color: #fff;
}

#player-stats th {
    background-color: #333333;
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #FF4655;
    white-space: nowrap;
}

#player-stats td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #444444;
}

#player-stats tbody tr:nth-child(even) {
    background-color: #2a2a2a;
}

#player-stats tbody tr:hover {
    background-color: #383838;
}


/* Players Page */

/*Player Search Bar*/
.player-page .search-bar-item {
    padding: 250px;
}
.player-page .search-box{
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 0 auto;
}
.player-page .search-box.active{
  width: 350px;
}
.player-page .search-box input{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.player-page .search-box input.active{
  opacity: 1;
}
.player-page .search-box input::placeholder{
  color: #a6a6a6;
}
.player-page .search-box .search-icon{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #f44336;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.player-page .search-box .search-icon.active{
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: #f44336;
  color: #fff;
  transform: translateY(-50%) rotate(360deg);
}
.player-page .search-box .cancel-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #f44336;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.player-page .search-box .cancel-icon.active{
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}

/* --- Player Suggestions List --- */
.player-page .suggestions-list {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;

    border-radius: 0 0 30px 30px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

    max-height: 0;
    overflow: hidden;
    z-index: 5;
    
    transition: max-height 0.3s ease-in-out; 

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
}

.player-page .suggestions-list.active {
    max-height: 250px;
    padding-bottom: 5px;
}

.player-page .suggestion-item {
    padding: 8px 15px;
    background: #ffffff;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px; 
    transition: background 0.2s, color 0.2s;
}
.player-page .suggestion-item:hover {
    background: #f44336;
    color: #fff;
}

/* DATA MANAGEMENT PAGE */
.data-management-page .text-box h1{
    font-size: 62px;
    color: #000000
}
.data-management-page .text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #000000;
}
.data-management-page .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.data-management-page .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/* PLAYER MANAGEMENT PAGE */
.hidden {
    display: none !important;
}
.player-manager-page .text-box {
    max-width: 800px;
    margin: 0px;
    margin-top: 150px;
    pointer-events: none;
    position: relative;
}

.player-manager-page .text-box h1{
    font-size: 62px;
    color: #000000;
    pointer-events: none;
}

.player-manager-page .text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #000000;
    pointer-events: none;
}

.form-container {
  padding: 25px 30px;
  max-width: 700px;
  width: 100%;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.user-details #optional-fields-container {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.operation-details .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.form-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.form-container .title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  bottom: 0;
  left: 0;
  border-radius: 1000px;
  background: #f44336;
}

form .operation-details {
    width: 100%;
    margin-bottom: 20px;
}

form .operation-details .operation-title {
  font-size: 20px;
  font-weight: 500;
}

form .operation-details .category {
  margin: 14px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.operation-details .category label {
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.operation-details .category .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 10px;
  border: 5px solid transparent;
  color: #f44336;;
  transition: all 0.3s ease;
  pointer-events: none;
}

.operation-details .category .operation {
  pointer-events: none;
}

#op-add:checked ~ .category .one,
#op-update:checked ~ .category .two,
#op-remove:checked ~ .category .three {
  border-color: #d9d9d9;
  background-color: #f44336;
}
.form-container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px 12px 0px;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .user-details .details {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

form .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .user-details .input-box input:focus,
form .user-details .input-box input:valid {
  border-color: #f44336;;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
}

form .button::after {
  content: "";
  position: absolute;
  height: 114%;
  width: 101.3%;
  border-radius: 5px;
  z-index: -1;
  background-image: linear-gradient(135deg, #f44336, #f44336);
}

input[type="submit"]:hover {
  background: #f44336;
  color: white;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 497px) {
  .container .content .category {
    flex-direction: column;
  }
}

/* Players table */
.players-container {
    font-size: 16px;
    padding: 100px;
    margin: auto;
    max-width: 1400px;
    text-align: center;
}
#players h2 {
    margin-bottom: 20px;
    color: #f44336; 
}
/* Table Wrapper for horizontal scrolling on smaller screens */
.players-table-wrapper {
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Main Table */
#players table {
    width: 100%;
    border-collapse: collapse;
    min-width: 300px;
    background-color: #202020;
    color: #fff;
}
#players th {
    background-color: #333333;
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #FF4655;
    white-space: nowrap;
}
#players td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #444444;
}
#players tbody tr:nth-child(even) {
    background-color: #2a2a2a;
}
#players tbody tr:hover {
    background-color: #383838;
}

/* TEAM MANAGEMENT PAGE */
.team-manager-page .text-box {
    max-width: 800px;
    margin: 0px;
    margin-top: 150px;
    pointer-events: none;
    position: relative;
}

.team-manager-page .text-box h1{
    font-size: 62px;
    color: #000000;
    pointer-events: none;
}

.team-manager-page .text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #000000;
    pointer-events: none;
}
.team-manager-page .form-container {
  padding: 25px 30px;
  max-width: 700px;
  width: 100%;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.team-manager-page .user-details #optional-fields-container {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-manager-page .operation-details .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.team-manager-page .form-container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.team-manager-page .form-container .title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  bottom: 0;
  left: 0;
  border-radius: 1000px;
  background: #f44336;
}

.team-manager-page form .operation-details {
    width: 100%;
    margin-bottom: 20px;
}

.team-manager-page form .operation-details .operation-title {
  font-size: 20px;
  font-weight: 500;
}

.team-manager-page form .operation-details .category {
  margin: 14px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.team-manager-page .operation-details .category label {
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.team-manager-page .operation-details .category .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 10px;
  border: 5px solid transparent;
  color: #f44336;;
  transition: all 0.3s ease;
  pointer-events: none;
}

.team-manager-page .operation-details .category .operation {
  pointer-events: none;
}

#op-add:checked ~ .category .one,
#op-update:checked ~ .category .two,
#op-remove:checked ~ .category .three {
  border-color: #d9d9d9;
  background-color: #f44336;
}
.team-manager-page .form-container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px 12px 0px;
}
.team-manager-page form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.team-manager-page form .user-details .details {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.team-manager-page form .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.team-manager-page form .user-details .input-box input:focus,
.team-manager-page form .user-details .input-box input:valid {
  border-color: #f44336;;
}
.team-manager-page form input[type="radio"] {
  display: none;
}
.team-manager-page form .button {
  height: 45px;
  margin: 35px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.team-manager-page form .button input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
}
.team-manager-page form .button::after {
  content: "";
  position: absolute;
  height: 114%;
  width: 101.3%;
  border-radius: 5px;
  z-index: -1;
  background-image: linear-gradient(135deg, #f44336, #f44336);
}
input[type="submit"]:hover {
  background: #f44336;
  color: white;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 497px) {
  .container .content .category {
    flex-direction: column;
  }
}
/* Teams table */
.teams-container {
    font-size: 16px;
    padding: 100px;
    margin: auto;
    max-width: 1400px; /* Adjust as needed */
    text-align: center;
}
#teams h2 {
    margin-bottom: 20px;
    color: #f44336; 
}
/* Table Wrapper for horizontal scrolling on smaller screens */
.teams-table-wrapper {
    overflow-x: auto; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#teams table {
    width: 100%;
    border-collapse: collapse;
    min-width: 300px;
    background-color: #202020;
    color: #fff;
}
#teams th {
    background-color: #333333;
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #FF4655;
    white-space: nowrap;
}
#teams td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #444444;
}
#teams tbody tr:nth-child(even) {
    background-color: #2a2a2a;
}
#teams tbody tr:hover {
    background-color: #383838;
}

/* TEAM PAGE */
.teams-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teams-page .text-box {
    max-width: 800px;
    margin: 0px;
    margin-top: 150px;
    pointer-events: none;
    position: relative;
}
.teams-page .text-box h1{
    font-size: 62px;
    color: #000000;
    pointer-events: none;
    white-space: nowrap;
}
.teams-page .text-box p{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #000000;
    pointer-events: none;
}

/* Filters */
.filters-container {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
#region-filter {
  background: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.region-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.region-container label {
  color: #f44336;
  font-size: 12px;
}
.date-container {
  display: flex;
  gap: 10px;
}
.date-group {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.date-group label {
  color: #f44336;
  margin-bottom: 2px;
}
.date-group input[type="date"] {
  background: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 2px 5px;
  border-radius: 4px;
}
.toggle-container {
  display:flex;
  align-items: center;
  margin-top: 17px;
  gap: 5px;
  font-size: 14px;
}
#win-toggle {
  accent-color: #f44336;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
/* Teams table */
.team-table-container {
    font-size: 16px;
    padding: 100px;
    margin: auto;
    max-width: 1400px; /* Adjust as needed */
    text-align: center;
}

#team-table h2 {
    margin-bottom: 20px;
    color: #f44336; 
}

/* Matches wrapper for horizontal scrolling on smaller screens */
.matches-table-wrapper {
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Main Table */
#team-table table {
    width: 100%;
    border-collapse: collapse;
    min-width: 300px;
    background-color: #202020;
    color: #fff;
}
#team-table th {
    background-color: #333333;
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #FF4655;
    white-space: nowrap;
}
#team-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #444444;
}
#team-table tbody tr:nth-child(even) {
    background-color: #2a2a2a;
}
#team-table tbody tr:hover {
    background-color: #383838;
}